@model CondemnedAssistance.ViewModels.EventModel
@{
    Layout = "_Layout_Sidebar";
}
Current User Status: @Model.CurrentUserStatus

<a asp-controller="Event" asp-action="Create" asp-route-userId="@Model.UserId">Add</a>

<table>
    @foreach (var e in Model.Events) {
        <tr>
            <td>@e.Name</td>
            <td>@e.Description</td>
            <td>@e.EventStatus.Name</td>
            <td>@e.Date</td>
            <td>@e.RequestUser</td>
            <td><a asp-controller="Event" asp-action="Update" asp-route-id="@e.Id">Edit</a></td>
            <td><a asp-controller="Event" asp-action="Update" asp-route-id="@e.Id">Delete</a></td>
        </tr>
    }
</table>