@model ICollection<CondemnedAssistance.ViewModels.UserProfileModel>
@{
    Layout = "_Layout";
}
<a asp-action="Create">Добавить пользователя</a>
<table>
    <tr>
        <th>Логин</th>
        <th>Ф.И.О.</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Регистр</th>
        <th colspan="2">Действия</th>
    </tr>
    @foreach (var user in Model) {
        <tr>
            <td>@user.Login</td>
            <td>@user.LastName @user.FirstName @user.MiddleName</td>
            <td>@user.Role</td>
            <td>@user.Status</td>
            <td>@user.Registration</td>
            <td><a asp-controller="User" asp-action="View" asp-route-id="@user.UserId">View</a></td>
            <td><a asp-controller="User" asp-action="Update" asp-route-id="@user.UserId">Edit</a></td>
            @if (User.IsInRole("3")) {
                <td><a asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId">Delete</a></td>
            }
        </tr>
    }
</table>