@model IEnumerable<CondemnedAssistance.ViewModels.RegisterModel>
@{
    Layout = "_Layout";
}
<table>
    @foreach(var r in Model){
        <tr>
            <td>@r.Name</td>
            <td>@r.Description</td>
            <td>@r.RegisterLevels.First().Name</td>
            <td><a asp-controller="Register" asp-action="Update" asp-route-id="@r.Id">Edit</a></td>
            <td><a asp-controller="Register" asp-action="Delete" asp-route-id="@r.Id">Delete</a></td>
            @{ 
                if (!r.RegisterLevels.Single(row => r.RegisterLevelId == row.Id).IsLastChild) {
                    <td><a asp-controller="Register" asp-action="Create" 
            asp-route-levelId="@r.RegisterLevelHierarchies.Single(row => row.ParentLevel == r.RegisterLevelId).ChildLevel" 
            asp-route-parentId="@r.Id">Add</a></td>
                }
            }
        </tr>
    }
</table>
