@model IEnumerable<CondemnedAssistance.ViewModels.AddressModel>
@{
    Layout = "_Layout";
}
<table>
    @foreach (var a in Model) {
        <tr>
            <td> @a.Name </td>
            <td> @a.Description </td>
            <td> @a.AddressLevels.FirstOrDefault(l => l.Id == a.AddressLevelId).Name </td>
            <td> <a asp-controller="Address" asp-action="Update" asp-route-id="@a.Id">Edit</a> </td>
            <td> <a asp-controller="Address" asp-action="Delete" asp-route-id="@a.Id">Delete</a> </td>
            @{  var levelId = a.AddressLevelId + 1;
                if (a.AddressLevelId != 3) {
                    <td> <a asp-controller="Address" asp-action="Create" asp-route-levelId="@levelId" asp-route-parentId="@a.Id" asp-route-childId="0">Add</a></td>
                }
            }
            @*@if (a.AddressLevelId != 3) {
                <td> <a asp-controller="Address" asp-action="Create" asp-route-levelId="@levelId" asp-route-parentId="@a.Id" asp-route-childId="0">Add</a></td>
            }*@
            @*@if(a.AddressLevelId == 1) {
                <td> <a asp-controller="Address" asp-action="Create" asp-route-levelId="2" asp-route-parentId="@a.Id" asp-route-childId="0">Add</a></td>
            }
            @if (a.AddressLevelId == 2) {
                <td> <a asp-controller="Address" asp-action="Create" asp-route-levelId="3" asp-route-parentId="@a.Id" asp-route-childId="0">Add</a></td>
            }*@
        </tr>
    }
</table>