@model CondemnedAssistance.ViewModels.UserProfileModel
@{ 
    Layout = "_Layout_Sidebar";
}

<div id="profile">
    <table>
        <tr>
            <td>Login</td>
            <td>@Model.Login</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>@Model.Role</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>@Model.Status</td>
        </tr>
    </table>
    <table>
        <tr>
            @{ var a = Model.LastName + " " + Model.FirstName + " " + Model.MiddleName;}
            <td>F.I.O.</td>
            <td>@a</td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td>@Model.Birthdate</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Model.GenderText</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Xin</td>
            <td>@Model.Xin</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
            <td>Confirmed?</td>
            <td>@Model.IsEmailConfirmedText</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@Model.MobilePhone</td>
            <td>Confirmed?</td>
            <td>@Model.IsMobileConfirmedText</td>
        </tr>
        <tr>
            <td>Registration</td>
            <td>@Model.Registration</td>
        </tr>
    </table>
    <table>
        @foreach(CondemnedAssistance.Models.Education ed in Model.Educations) {
            <tr>
                <td>
                    @ed.Name
                </td>
                <td>
                    @ed.EducationLevel.Name
                </td>
                <td>
                    @ed.Description
                </td>
            </tr>
        }
    </table>
    <table>
        @foreach (CondemnedAssistance.Models.Profession prof in Model.Professeions) {
            <tr>
                <td>
                    @prof.Name
                </td>
                <td>
                    @prof.Description
                </td>
            </tr>
        }
    </table>
</div>