@model CondemnedAssistance.ViewModels.UserProfileModel
@{ 
    Layout = "_Layout_Sidebar";
}

<div id="profile">
    <table>
        <tr>
            <td><label asp-for="Login"></label></td>
            <td>@Model.Login</td>
        </tr>
        <tr>
            <td><label asp-for="Role"></label></td>
            <td>@Model.Role</td>
        </tr>
        <tr>
            <td><label asp-for="Status"></label></td>
            <td>@Model.Status</td>
        </tr>
    </table>
    <table>
        <tr>
            @{ var a = Model.LastName + " " + Model.FirstName + " " + Model.MiddleName;}
            <td><label asp-for="Role"></label></td>
            <td>@a</td>
        </tr>
        <tr>
            <td><label asp-for="Birthdate"></label></td>
            <td>@Model.Birthdate</td>
        </tr>
        <tr>
            <td><label asp-for="GenderText"></label></td>
            <td>@Model.GenderText</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><label asp-for="Xin"></label></td>
            <td>@Model.Xin</td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td>@Model.Email</td>
            <td><label asp-for="IsEmailConfirmedText"></label></td>
            <td>@Model.IsEmailConfirmedText</td>
        </tr>
        <tr>
            <td><label asp-for="MobilePhone"></label></td>
            <td>@Model.MobilePhone</td>
            <td><label asp-for="IsMobileConfirmedText"></label></td>
            <td>@Model.IsMobileConfirmedText</td>
        </tr>
        <tr>
            <td><label asp-for="Registration"></label></td>
            <td>@Model.Registration</td>
        </tr>
    </table>
    <table>
        @foreach(CondemnedAssistance.Models.Education ed in Model.Educations) {
            <tr>
                <td>
                    @ed.Name
                </td>
                <td>
                    @ed.EducationLevel.Name
                </td>
                <td>
                    @ed.Description
                </td>
            </tr>
        }
    </table>
    <table>
        @foreach (CondemnedAssistance.Models.Profession prof in Model.Professions) {
            <tr>
                <td>
                    @prof.Name
                </td>
                <td>
                    @prof.Description
                </td>
            </tr>
        }
    </table>
</div>